<h1>SIGN UP IF YOU LIKE MUSIC!</h1>
<h3>(get out if you don't)</h3>

<form action="<%= users_url %>" method="post">
  <label for="user[email]">Email</label>
  <input type="text" name="user[email]">

  <label for="user[password]">Password</label>
  <input type="password" name="user[password]">

  <br>
  <input type="submit" value="SIGN UP">
</form>
